* {
  margin: 0;
}

.probability-grid {
  margin: 2rem;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 5px;
  width: 600px;
  height: 600px;
}

.probability-grid-cell {
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
